.lists-section {
  display: flex;
  align-self: center;
  width: 90%;
  margin: 2px;
  background-color: none;
}

.jobscontainer {
  width: 80%;
  flex-direction: column;
  background-color: none;
}

.eventcontainer {
  width: 80%;
  flex-direction: column;
  background-color: none;
}
